:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.login-container,
.signup-container,
.movies-container,
.stars-container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 400px;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  padding: 0.5rem;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 1rem;
}

.stars-list,
.movies-list {
  list-style-type: decimal; //set to numbering for the list items //set none to remove bullet points
  padding: 1.5em;
  li {
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease; // Smooth transition for background color change

    a {
      // Targeting links within list items
      display: block; // Make the link fill the li for a larger clickable area
      color: inherit; // Use the parent's text color
      text-decoration: none; // Remove underline from links
      cursor: pointer; // Change cursor to a pointer on hover

      &:hover {
        background-color: rgba(
          var(--foreground-rgb),
          0.1
        ); // Slight background highlight on hover
        padding-left: 0.8rem; // Indent text to give a sense of motion
      }
    }
  }
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
