@use "variables";


// Theme default settings using CSS variables
:root {
    --movie-detail-bg: $movie-detail-bg-light;
    --movie-detail-text: $movie-detail-text-light;
    --movie-detail-shadow: $movie-detail-shadow-light;
}

// Dark mode overrides
@media (prefers-color-scheme: dark) {
    :root {
        --movie-detail-bg: $movie-detail-bg-dark;
        --movie-detail-text: $movie-detail-text-dark;
        --movie-detail-shadow: $movie-detail-shadow-dark;
        
    }
}

.movieDetail {
    padding: 2em;
    max-width: 800px;
    margin: 2em auto;
    background-color: var(--movie-detail-bg);
    box-shadow: var(--movie-detail-shadow) 0px 0px 0px 3px;
    border-radius: 8px;
    color: var(--movie-detail-text);

    h2 {
        font-size: 2rem;
        margin-bottom: 1em;
        color: lighten(var(--movie-detail-text), 10%);
    }

    p {
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        color: $base-link-color;
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
            color: $hover-link-color;
        }
    }

    .year, .created, .updated {
        font-weight: bold;
        color: darken(var(--movie-detail-text), 10%);
    }

    .description {
        margin-top: 1em;
        font-style: italic;
        font-size: 1.1rem;
        color: lighten(var(--movie-detail-text), 20%);
    }
}
