@use "variables";


:root {
    --navbar-bg: $base-navbar-bg-light;
    --navbar-text: $base-navbar-text-light;
    --navbar-hover: $base-navbar-hover-light;
}

@media (prefers-color-scheme: dark) {
    :root {
        --navbar-bg: $base-navbar-bg-dark;
        --navbar-text: $base-navbar-text-dark;
        --navbar-hover: $base-navbar-hover-dark;
    }
}

.navbar {
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;

  a {
    padding: 1rem 0;
    color: inherit; // Ensures links use the navbar text color
    text-decoration: underline;
    transition: color 0.3s; // Smooth color transition for hover effect

    &:hover {
      color: var(--navbar-hover); // Uses variable for hover color
    }
  }
}