@use "variables";


:root {
    --star-detail-bg: $star-detail-bg-light;
    --star-detail-text: $star-detail-text-light;
    --star-detail-shadow: $star-detail-shadow-light;
    --star-detail-link-color: $star-detail-link-color-light;
    --star-detail-link-hover: $star-detail-link-hover-light;
    --star-detail-emphasis-text: $star-detail-emphasis-text-light;
}

@media (prefers-color-scheme: dark) {
    :root {
        --star-detail-bg: $star-detail-bg-dark;
        --star-detail-text: $star-detail-text-dark;
        --star-detail-shadow: $star-detail-shadow-dark;
        --star-detail-link-color: $star-detail-link-color-dark;
        --star-detail-link-hover: $star-detail-link-hover-dark;
        --star-detail-emphasis-text: $star-detail-emphasis-text-dark;
    }
}

.starDetail {
  padding: 2em;
  max-width: 800px;
  margin: 2em auto;
  background-color: var(--star-detail-bg);
  box-shadow: var(--star-detail-shadow) 0px 0px 0px 3px;
  border-radius: 8px;
  color: var(--star-detail-text);

  h2 {
    font-size: 2rem;
    margin-bottom: 1em;
    color: lighten(var(--star-detail-text), 5%); // Slightly lighter for title
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: var(--star-detail-link-color);
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
      color: var(--star-detail-link-hover);
    }
  }

  .year, .created, .updated {
    font-weight: bold;
    color: var(--star-detail-emphasis-text);
  }

  .description {
    margin-top: 1em;
    font-style: italic;
    font-size: 1.1rem;
    color: lighten(var(--star-detail-text), 10%); // Even lighter for emphasis
  }
}
