// Default light mode variables
$foreground-rgb: 0, 0, 0;
$background-start-rgb: 214, 219, 220;
$background-end-rgb: 255, 255, 255;
$shadow-color: rgba(0, 0, 0, 0.3);
$link-background-hover: rgba(0, 0, 0, 0.1);
$admin-highlight-bg: rgba(0, 123, 255, 0.1);
$admin-highlight-text: rgba(0, 123, 255);
$button-hover-bg: #0056b3;
$base-bg: #ffffff;
$border-color: #ccc;
$error-text: red;



// Dark mode variables
$dark-foreground-rgb: 255, 255, 255;
$dark-background-start-rgb: 25, 25, 25;
$dark-background-end-rgb: 45, 45, 45;
$dark-shadow-color: rgba(255, 255, 255, 0.3);
$dark-link-background-hover: rgba(255, 255, 255, 0.1);
$dark-admin-highlight-bg: rgba(0, 123, 255, 0.1);
$dark-admin-highlight-text: rgba(0, 123, 255);
$dark-button-hover-bg: #0041a8;
$dark-base-bg: #121212;
$dark-border-color: #888;
$dark-error-text: #ff6b6b;

// Common base variables
$base-link-color: #1e90ff;
$hover-link-color: #add8e6;

// Light theme variables
$movie-detail-bg-light: #ffffff;
$movie-detail-text-light: #272627; 
$movie-detail-shadow-light: rgba(0, 0, 0, 0.3);

// Dark theme variable
$movie-detail-bg-dark: #272627;
$movie-detail-text-dark: #e0dddd; 
$movie-detail-shadow-dark: rgba(3, 102, 214, 0.3); 


// Base color variables for navbar
$base-navbar-bg-light: #f8f9fa;
$base-navbar-text-light: #333; 
$base-navbar-hover-light: #0070f3; 

$base-navbar-bg-dark: #333; 
$base-navbar-text-dark: #fff; 
$base-navbar-hover-dark: #0070f3; 


// Base color variables for pagination
$pagination-bg-light: #f0f0f0; 
$pagination-text-light: #333; 
$pagination-hover-bg-light: #ddd; 
$pagination-disabled-bg-light: #ccc; 
$pagination-disabled-text-light: #666; 
$pagination-focus-shadow-light: rgba(0, 0, 0, 0.4); 

$pagination-bg-dark: #2A2A2A; 
$pagination-text-dark: #FFF; 
$pagination-hover-bg-dark: #444; 
$pagination-disabled-bg-dark: #1A1A1A; 
$pagination-disabled-text-dark: #666; 
$pagination-focus-shadow-dark: rgba(255, 255, 255, 0.4);

// Base color variables for stars
$star-detail-bg-light: #f8f9fa; 
$star-detail-text-light: #333; 
$star-detail-shadow-light: rgba(0, 0, 0, 0.1); 
$star-detail-link-color-light: #1e90ff; 
$star-detail-link-hover-light: #add8e6; 
$star-detail-emphasis-text-light: #666; 

$star-detail-bg-dark: #272627; 
$star-detail-text-dark: #e0dddd; 
$star-detail-shadow-dark: rgba(3, 102, 214, 0.3); 
$star-detail-link-color-dark: #1e90ff; 
$star-detail-link-hover-dark: #add8e6; 
$star-detail-emphasis-text-dark: #c9c4c4; 